# SPDX-License-Identifier: GPL-2.0
config VIDEO_ROCKCHIP_ISP1
	tristate "Rockchip Image Signal Processing v1 Unit driver"
	depends on VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	depends on ARCH_ROCKCHIP || COMPILE_TEST
	select VIDEOBUF2_DMA_CONTIG
	select VIDEOBUF2_VMALLOC
	select V4L2_FWNODE
	select VIDEO_ROCKCHIP_ISP_DPHY_SY
	default n
	help
	  Support for ISP1 on the rockchip SoC.

config VIDEO_ROCKCHIP_ISP_DPHY_SY
	tristate "Rockchip Image Signal Processing v1 Unit driver"
	depends on VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	depends on ARCH_ROCKCHIP || COMPILE_TEST
	default n
	help
	  Support for ISP MIPI Synopsys DPHY on the rockchip SoC.
