#
# LoongArch Platform Specific Drivers
#

menuconfig LOONGARCH_PLATFORM_DEVICES
	bool "LoongArch Platform Specific Device Drivers"
	default y
	depends on LOONGARCH
	help
	  Say Y here to get to see options for device drivers of various
	  LoongArch platforms, including vendor-specific laptop/desktop
	  extension and hardware monitor drivers. This option itself does
	  not add any kernel code.

	  If you say N, all options in this submenu will be skipped and disabled.

if LOONGARCH_PLATFORM_DEVICES

config LOONGSON_LAPTOP
	tristate "Generic Loongson-3 Laptop Driver"
	depends on ACPI_EC
	depends on BACKLIGHT_CLASS_DEVICE
	depends on INPUT
	depends on MACH_LOONGSON64
	select ACPI_VIDEO
	select INPUT_SPARSEKMAP
	default y
	help
	  ACPI-based Loongson-3 family laptops generic driver.

endif # LOONGARCH_PLATFORM_DEVICES
