# SPDX-License-Identifier: GPL-2.0-only
config CB710_CORE
	tristate "ENE CB710/720 Flash memory card reader support"
	depends on PCI
	help
	  This option enables support for PCI ENE CB710/720 Flash memory card
	  reader found in some laptops (ie. some versions of HP Compaq nx9500).

	  You will also have to select some flash card format drivers (MMC/SD,
	  MemoryStick).

	  This driver can also be built as a module. If so, the module
	  will be called cb710.

config CB710_DEBUG
	bool "Enable driver debugging"
	depends on CB710_CORE != n
	default n
	help
	  This is an option for use by developers; most people should
	  say N here.  This adds a lot of debugging output to dmesg.

config CB710_DEBUG_ASSUMPTIONS
	bool
	depends on CB710_CORE != n
	default y
