/dts-v1/;

#include "mt7620a.dtsi"

/ {
	compatible = "xiaomi,miwifi-mini", "ralink,mt7620a-soc";
	model = "Xiaomi MiWiFi Mini";

	chosen {
		bootargs = "console=ttyS0,115200";
	};

	gpio-leds {
		compatible = "gpio-leds";

		blue {
			label = "miwifi-mini:blue:status";
			gpios = <&gpio1 0 1>;
		};

		yellow {
			label = "miwifi-mini:yellow:status";
			gpios = <&gpio1 2 1>;
		};

		red {
			label = "miwifi-mini:red:status";
			gpios = <&gpio1 5 1>;
		};
	};

	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		#address-cells = <1>;
		#size-cells = <0>;
		poll-interval = <20>;

		reset {
			label = "reset";
			gpios = <&gpio1 6 0>;
			linux,code = <0x198>;
		};
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpio2 {
	status = "okay";
};

&spi0 {
	status = "okay";

	m25p80@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		linux,modalias = "m25p80", "w25q128";
		spi-max-frequency = <10000000>;

		partition@0 {
			label = "u-boot";
			reg = <0x0 0x30000>;
		};

		partition@30000 {
			label = "u-boot-env";
			reg = <0x30000 0x10000>;
			read-only;
		};

		factory: partition@40000 {
			label = "factory";
			reg = <0x40000 0x10000>;
			read-only;
		};

		partition@50000 {
			label = "firmware";
			reg = <0x50000 0xf80000>;
		};

		partition@fd0000 {
			label = "crash";
			reg = <0xfd0000 0x10000>;
		};

		partition@fe0000 {
			label = "reserved";
			reg = <0xfe0000 0x10000>;
			read-only;
		};

		partition@ff0000 {
			label = "Bdata";
			reg = <0xff0000 0x10000>;
		};
	};
};

&ehci {
	status = "okay";
};

&ohci {
	status = "okay";
};

&ethernet {
	pinctrl-names = "default";
	pinctrl-0 = <&ephy_pins>;
	mtd-mac-address = <&factory 0x4>;
	mediatek,portmap = "llllw";
};

&wmac {
	ralink,mtd-eeprom = <&factory 0>;
};

&pcie {
	status = "okay";

	pcie-bridge {
		mt76@0,0 {
			reg = <0x0000 0 0 0 0>;
			device_type = "pci";
			mediatek,mtd-eeprom = <&factory 0x8000>;
			mediatek,2ghz = <0>;
		};
	};
};

&pinctrl {
	state_default: pinctrl0 {
		gpio {
			ralink,group = "i2c", "rgmii1";
			ralink,function = "gpio";
		};

		pa {
			ralink,group = "pa";
			ralink,function = "pa";
		};
	};
};
