{# SPDX-License-Identifier: GPL-2.0 #}
{% if annotate %}
		/* member {{ name }} (variable-length array) */
{% endif %}
		if (xdr_stream_decode_u32(xdr, &count) < 0)
			return false;
		if (count > {{ maxsize }})
			return false;
		for (u32 i = 0; i < count; i++) {
			if (xdrgen_decode_{{ type }}(xdr, &ptr->{{ name }}.items[i]) < 0)
				return false;
		}
		ptr->{{ name }}.len = count;
