# SPDX-License-Identifier: GPL-2.0
#
# light and position sensor drivers configuration
#

menuconfig PROXIMITY_DEVICE
	tristate "proximity sensor device support"
	default n

if PROXIMITY_DEVICE

config PS_AL3006
	tristate "psensor al3006"
	default n

config PS_STK3171
	tristate "psensor stk3171"
	default n

config PS_AP321XX
	tristate "psensor ap321xx"
	default n

config PS_STK3332
	tristate "proximity sensor stk3332"

config PS_STK3410
	tristate "proximity sensor stk3410"
	default n

config PS_EM3071X
	tristate "proximity sensor em3071x"

config PS_UCS14620
	tristate "proximity sensor ucs14620"
	default n

endif
