################################################################################
## Inheriting configs from ACK
. ${ROOT_DIR}/common/build.config.common
. ${ROOT_DIR}/common/build.config.aarch64

################################################################################
## Variant setup
MSM_ARCH=kalama_tuivm
VARIANTS=(defconfig debug_defconfig)
[ -z "${VARIANT}" ] && VARIANT=debug_defconfig

if [ -e "${ROOT_DIR}/msm-kernel" -a "${KERNEL_DIR}" = "common" ]; then
	KERNEL_DIR="msm-kernel"
fi

BOOT_IMAGE_HEADER_VERSION=3
BASE_ADDRESS=0x80000000
PAGE_SIZE=4096
VM_DTB_IMG_CREATE=1
PREFERRED_USERSPACE=vm

declare -A MKDTIMGDTBS

################################################################################
## Define TUI VM parameters
TUIVM_KERNEL_OFFSET=0x0
TUIVM_DTB_OFFSET=0x2000000
TUIVM_RAMDISK_OFFSET=0x2100000

MKDTIMGDTBS["kalama_tuivm"]="kalama-vm"

################################################################################
## Define OEM VM parameters
OEMVM_KERNEL_OFFSET=0x0
OEMVM_DTB_OFFSET=0x2000000
OEMVM_RAMDISK_OFFSET=0x2100000

MKDTIMGDTBS["kalama_oemvm"]="kalama-oemvm"

VM_SIZE_EXT4=270000000
DUMMY_IMG_SIZE=4096

################################################################################
## Inheriting MSM configs
. ${KERNEL_DIR}/build.config.msm.common
. ${KERNEL_DIR}/build.config.msm.vm
