config DRM_GMA500
	tristate "Intel GMA5/600 KMS Framebuffer"
	depends on DRM && PCI && X86 && EXPERIMENTAL
	select FB_CFB_COPYAREA
        select FB_CFB_FILLRECT
        select FB_CFB_IMAGEBLIT
        select DRM_KMS_HELPER
        select DRM_TTM
	help
	  Say yes for an experimental 2D KMS framebuffer driver for the
	  Intel GMA500 ('Poulsbo') and other Intel IMG based graphics
	  devices.

config DRM_GMA600
	bool "Intel GMA600 support (Experimental)"
	depends on DRM_GMA500
	help
	  Say yes to include support for GMA600 (Intel Moorestown/Oaktrail)
	  platforms with LVDS ports. HDMI and MIPI are not currently
	  supported.

config DRM_GMA3600
	bool "Intel GMA3600/3650 support (Experimental)"
	depends on DRM_GMA500
	help
	  Say yes to include basic support for Intel GMA3600/3650 (Intel
	  Cedar Trail) platforms.
