# SPDX-License-Identifier: GPL-2.0

config MM81X
	tristate "Morse Micro MM81x wireless devices" if COMPILE_TEST
	depends on MAC80211
	select FW_LOADER
	select CRC7
	help
	  This module adds support for wireless devices based
	  on Morse Micro MM81xx chipsets.

config MM81X_USB
	tristate "Morse Micro MM81x USB support"
	depends on MAC80211 && USB
	select MM81X
	help
	  This module adds support for the USB interface of
	  devices using the Morse Micro MM81x chipset.

config MM81X_SDIO
	tristate "Morse Micro MM81x SDIO support"
	depends on MAC80211 && MMC
	select MM81X
	help
	  This module adds support for the SDIO interface of
	  devices using the Morse Micro MM81x chipset.
