config INFINIBAND_EHCA
	tristate "eHCA support"
	depends on IBMEBUS && INFINIBAND
	---help---
	This driver supports the IBM pSeries eHCA InfiniBand adapter.

	To compile the driver as a module, choose M here. The module
	will be called ib_ehca.

