menu "Intel Speed Select Techyeslogy interface support"
	depends on PCI
	depends on X86_64 || COMPILE_TEST

config INTEL_SPEED_SELECT_INTERFACE
	tristate "Intel(R) Speed Select Techyeslogy interface drivers"
	help
	  This config enables the Intel(R) Speed Select Techyeslogy interface
	  drivers. The Intel(R) speed select techyeslogy features are yesn
	  architectural and only supported on specific Xeon(R) servers.
	  These drivers provide interface to directly communicate with hardware
	  via MMIO and Mail boxes to enumerate and control all the speed select
	  features.

	  Enable this config, if there is a need to enable and control the
	  Intel(R) Speed Select Techyeslogy features from the user space.
endmenu
