#
# inv-mpu6050 drivers for Invensense MPU devices and combos
#

config INV_MPU6050_IIO
	tristate "Invensense MPU6050 devices"
	depends on I2C && SYSFS
	select IIO_BUFFER
	select IIO_TRIGGERED_BUFFER
	help
	  This driver supports the Invensense MPU6050 devices.
	  It is a gyroscope/accelerometer combo device.
	  This driver can be built as a module. The module will be called
	  inv-mpu6050.
