if ARCH_RK2928

choice
	prompt "RK2928 Board Type"
	default MACH_RK2928_SDK

config MACH_RK2928
	bool "RK2928 Board"
	select RK_CONFIG


config MACH_RK2928_SDK
	bool "RK2928(BGA) SDK board"

config MACH_RK2926_SDK
	bool "RK2926 SDK board"

config MACH_RK2928_PHONEPAD
	bool "RK2928_PhonePad board"

config MACH_RK2928_A720
	bool "RK2928 A720 board"

config MACH_RK2928_TB
	bool "RK2928 top board"

config MACH_RK2928_FPGA
	bool "RK2928 FPGA board"

endchoice

endif
