# SPDX-License-Identifier: GPL-2.0-only
menuconfig MTD_SPI_NAND
	tristate "SPI NAND device Support"
	select MTD_NAND_CORE
	depends on SPI_MASTER
	select SPI_MEM
	select MTD_NAND_BBT_USING_FLASH
	help
	  This is the framework for the SPI NAND device drivers.
