// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

#include "ar9331.dtsi"

/ {
	model = "Dragino MS14 (Dragino 2)";
	compatible = "dragino,ms14";

	aliases {
		serial0 = &uart;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x4000000>;
	};

	leds {
		compatible = "gpio-leds";

		led-wlan {
			label = "dragino2:red:wlan";
			gpios = <&gpio 0 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-lan {
			label = "dragino2:red:lan";
			gpios = <&gpio 13 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led-wan {
			label = "dragino2:red:wan";
			gpios = <&gpio 17 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led-system {
			label = "dragino2:red:system";
			gpios = <&gpio 28 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		button-0 {
			label = "jumpstart";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&gpio 11 GPIO_ACTIVE_LOW>;
		};

		button-1 {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&gpio 12 GPIO_ACTIVE_LOW>;
		};
	};
};

&ref {
	clock-frequency = <25000000>;
};

&uart {
	status = "okay";
};

&gpio {
	status = "okay";
};

&usb {
	dr_mode = "host";
	status = "okay";
};

&usb_phy {
	status = "okay";
};

&spi {
	num-chipselects = <1>;
	status = "okay";

	/* Winbond 25Q128BVFG SPI flash */
	spiflash: w25q128@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "winbond,w25q128", "jedec,spi-nor";
		spi-max-frequency = <104000000>;
		reg = <0>;
	};
};
