<?xml version="1.0"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN"
	"http://www.oasis-open.org/docbook/xml/4.1.2/docbookx.dtd" [
<!ENTITY % media-entities SYSTEM "./media-entities.tmpl"> %media-entities;
<!ENTITY media-indices SYSTEM "./media-indices.tmpl">

<!ENTITY eg                     "e.&nbsp;g.">
<!ENTITY ie                     "i.&nbsp;e.">
<!ENTITY fd                     "File descriptor returned by <link linkend='func-open'><function>open()</function></link>.">
<!ENTITY i2c                    "I<superscript>2</superscript>C">
<!ENTITY return-value		"<title>Return Value</title><para>On success <returnvalue>0</returnvalue> is returned, on error <returnvalue>-1</returnvalue> and the <varname>errno</varname> variable is set appropriately:</para>">
<!ENTITY manvol                 "<manvolnum>2</manvolnum>">

<!-- Table templates: structs, structs w/union, defines. -->
<!ENTITY cs-str                 "<colspec colname='c1' colwidth='1*' /><colspec colname='c2' colwidth='1*' /><colspec colname='c3' colwidth='2*' /><spanspec spanname='hspan' namest='c1' nameend='c3' />">
<!ENTITY cs-ustr                "<colspec colname='c1' colwidth='1*' /><colspec colname='c2' colwidth='1*' /><colspec colname='c3' colwidth='1*' /><colspec colname='c4' colwidth='2*' /><spanspec spanname='hspan' namest='c1' nameend='c4' />">
<!ENTITY cs-def                 "<colspec colname='c1' colwidth='3*' /><colspec colname='c2' colwidth='1*' /><colspec colname='c3' colwidth='4*' /><spanspec spanname='hspan' namest='c1' nameend='c3' />">

<!-- Video for Linux mailing list address. -->
<!ENTITY v4l-ml                 "<ulink url='http://www.linuxtv.org/lists.php'>http://www.linuxtv.org/lists.php</ulink>">

<!-- LinuxTV v4l-dvb repository. -->
<!ENTITY v4l-dvb		"<ulink url='http://linuxtv.org/repo/'>http://linuxtv.org/repo/</ulink>">
]>

<book id="media_api">
<bookinfo>
<title>LINUX MEDIA INFRASTRUCTURE API</title>

<copyright>
	<year>2009-2010</year>
	<holder>LinuxTV Developers</holder>
</copyright>

<legalnotice>

<para>Permission is granted to copy, distribute and/or modify
this document under the terms of the GNU Free Documentation License,
Version 1.1 or any later version published by the Free Software
Foundation. A copy of the license is included in the chapter entitled
"GNU Free Documentation License"</para>
</legalnotice>

</bookinfo>

<toc></toc> <!-- autogenerated -->

<preface>
	<title>Introduction</title>

	<para>This document covers the Linux Kernel to Userspace API's used by
		video and radio straming devices, including video cameras,
		analog and digital TV receiver cards, AM/FM receiver cards,
		streaming capture devices.</para>
	<para>It is divided into three parts.</para>
	<para>The first part covers radio, capture,
		cameras and analog TV devices.</para>
	<para>The second part covers the
		API used for digital TV and Internet reception via one of the
		several digital tv standards. While it is called as DVB API,
		in fact it covers several different video standards including
		DVB-T, DVB-S, DVB-C and ATSC. The API is currently being updated
		to documment support also for DVB-S2, ISDB-T and ISDB-S.</para>
	<para>The third part covers Remote Controller API</para>
	<para>For additional information and for the latest development code,
		see: <ulink url="http://linuxtv.org">http://linuxtv.org</ulink>.</para>
	<para>For discussing improvements, reporting troubles, sending new drivers, etc, please mail to: <ulink url="http://vger.kernel.org/vger-lists.html#linux-media">Linux Media Mailing List (LMML).</ulink>.</para>

</preface>

<part id="v4l2spec">
&sub-v4l2;
</part>
<part id="dvbapi">
&sub-dvbapi;
</part>
<part id="v4ldvb_common">
<partinfo>
<authorgroup>
<author>
<firstname>Mauro</firstname>
<surname>Chehab</surname>
<othername role="mi">Carvalho</othername>
<affiliation><address><email>mchehab@redhat.com</email></address></affiliation>
<contrib>Initial version.</contrib>
</author>
</authorgroup>
<copyright>
	<year>2009-2010</year>
	<holder>Mauro Carvalho Chehab</holder>
</copyright>

<revhistory>
<!-- Put document revisions here, newest first. -->
<revision>
<revnumber>1.0.0</revnumber>
<date>2009-09-06</date>
<authorinitials>mcc</authorinitials>
<revremark>Initial revision</revremark>
</revision>
</revhistory>
</partinfo>

<title>Remote Controller API</title>
<chapter id="remote_controllers">
&sub-remote_controllers;
</chapter>
</part>

&sub-fdl-appendix;

</book>
