<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN"
	"http://www.oasis-open.org/docbook/xml/4.1.2/docbookx.dtd" []>

<book id="sh-drivers">
 <bookinfo>
  <title>SuperH Interfaces Guide</title>
  
  <authorgroup>
   <author>
    <firstname>Paul</firstname>
    <surname>Mundt</surname>
    <affiliation>
     <address>
      <email>lethal@linux-sh.org</email>
     </address>
    </affiliation>
   </author>
  </authorgroup>

  <copyright>
   <year>2008-2010</year>
   <holder>Paul Mundt</holder>
  </copyright>
  <copyright>
   <year>2008-2010</year>
   <holder>Renesas Technology Corp.</holder>
  </copyright>
  <copyright>
   <year>2010</year>
   <holder>Renesas Electronics Corp.</holder>
  </copyright>

  <legalnotice>
   <para>
     This documentation is free software; you can redistribute
     it and/or modify it under the terms of the GNU General Public
     License version 2 as published by the Free Software Foundation.
   </para>
      
   <para>
     This program is distributed in the hope that it will be
     useful, but WITHOUT ANY WARRANTY; without even the implied
     warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
     See the GNU General Public License for more details.
   </para>
      
   <para>
     You should have received a copy of the GNU General Public
     License along with this program; if not, write to the Free
     Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
     MA 02111-1307 USA
   </para>
      
   <para>
     For more details see the file COPYING in the source
     distribution of Linux.
   </para>
  </legalnotice>
 </bookinfo>

<toc></toc>

  <chapter id="mm">
    <title>Memory Management</title>
    <sect1 id="sh4">
    <title>SH-4</title>
      <sect2 id="sq">
        <title>Store Queue API</title>
!Earch/sh/kernel/cpu/sh4/sq.c
      </sect2>
    </sect1>
    <sect1 id="sh5">
      <title>SH-5</title>
      <sect2 id="tlb">
	<title>TLB Interfaces</title>
!Iarch/sh/mm/tlb-sh5.c
!Iarch/sh/include/asm/tlb_64.h
      </sect2>
    </sect1>
  </chapter>
  <chapter id="mach">
    <title>Machine Specific Interfaces</title>
    <sect1 id="dreamcast">
      <title>mach-dreamcast</title>
!Iarch/sh/boards/mach-dreamcast/rtc.c
    </sect1>
    <sect1 id="x3proto">
      <title>mach-x3proto</title>
!Earch/sh/boards/mach-x3proto/ilsel.c
    </sect1>
  </chapter>
  <chapter id="busses">
    <title>Busses</title>
    <sect1 id="superhyway">
      <title>SuperHyway</title>
!Edrivers/sh/superhyway/superhyway.c
    </sect1>

    <sect1 id="maple">
      <title>Maple</title>
!Edrivers/sh/maple/maple.c
    </sect1>
  </chapter>
</book>
