choice
	prompt "Rockchip SoC Type"
	depends on ARCH_RK3188

config SOC_RK3188
	bool "RK3188"

endchoice

choice
	prompt "RK3188 Board Type"
	depends on SOC_RK3188

config MACH_RK3188_TB
	bool "RK3188 Top Board"

config MACH_RK3188_SDK
	bool "RK3188 sdk Board"

config MACH_RK3188_FPGA
	bool "RK3188 FPGA board"
	select RK_FPGA

config MACH_RK3188_LR097
        bool "RK3188 LR097 JC21CA board"

config MACH_RK3188_DS1006H
	bool "RK3188 ds1006h board"

config MACH_RK3188_U30GT2
	bool "RK3188 u30gt2 board"

config MACH_RK3188_JETTAB
	bool "RK3188 jettaB top board"

config MACH_RK3188_RK618
        bool "RK3188 RK618 sdk"


config MACH_RK3188M_TB
	bool "RK3188m Top Board"

config MACH_RK3188_FT
	bool "RK3188 FT Board"

endchoice
