# SPDX-License-Identifier: GPL-2.0
# Kconfig for Xilinx firmwares

menu "Zynq MPSoC Firmware Drivers"
	depends on ARCH_ZYNQMP

config ZYNQMP_FIRMWARE
	bool "Enable Xilinx Zynq MPSoC firmware interface"
	depends on ARCH_ZYNQMP
	default y if ARCH_ZYNQMP
	select MFD_CORE
	help
	  Firmware interface driver is used by different
	  drivers to communicate with the firmware for
	  various platform management services.
	  Say yes to enable ZynqMP firmware interface driver.
	  If in doubt, say N.

config ZYNQMP_FIRMWARE_DEBUG
	bool "Enable Xilinx Zynq MPSoC firmware debug APIs"
	depends on ZYNQMP_FIRMWARE && DEBUG_FS
	help
	  Say yes to enable ZynqMP firmware interface debug APIs.
	  If in doubt, say N.

endmenu
