// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include "armada-3720-uDPU.dtsi"

/ {
	model = "Methode eDPU Board";
	compatible = "methode,edpu", "marvell,armada3720", "marvell,armada3710";
};

&eth0 {
	phy-mode = "2500base-x";
};
