CONFIG_CRYPTO_DEFLATE=y
# CONFIG_ETHERNET is not set
CONFIG_MD=y
CONFIG_PSTORE=y
CONFIG_SND_SOC_ROCKCHIP_PDM=y
CONFIG_VIDEO_ROCKCHIP_CIF=y
# CONFIG_BCACHE is not set
# CONFIG_BLK_DEV_DM is not set
# CONFIG_BLK_DEV_MD is not set
# CONFIG_DPM_WATCHDOG is not set
# CONFIG_PSTORE_842_COMPRESS is not set
# CONFIG_PSTORE_BOOT_LOG is not set
CONFIG_PSTORE_COMPRESS=y
CONFIG_PSTORE_COMPRESS_DEFAULT="deflate"
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_DEFLATE_COMPRESS=y
CONFIG_PSTORE_DEFLATE_COMPRESS_DEFAULT=y
# CONFIG_PSTORE_FTRACE is not set
# CONFIG_PSTORE_LZ4HC_COMPRESS is not set
# CONFIG_PSTORE_LZ4_COMPRESS is not set
# CONFIG_PSTORE_LZO_COMPRESS is not set
# CONFIG_PSTORE_PMSG is not set
CONFIG_PSTORE_RAM=y
# CONFIG_PSTORE_ZSTD_COMPRESS is not set
CONFIG_REED_SOLOMON=y
CONFIG_REED_SOLOMON_DEC8=y
CONFIG_REED_SOLOMON_ENC8=y
CONFIG_ROCKCHIP_CIF_USE_DUMMY_BUF=y
# CONFIG_ROCKCHIP_CIF_USE_MONITOR is not set
# CONFIG_ROCKCHIP_CIF_USE_NONE_DUMMY_BUF is not set
# CONFIG_ROCKCHIP_CIF_WORKMODE_ONEFRAME is not set
CONFIG_ROCKCHIP_CIF_WORKMODE_PINGPONG=y
CONFIG_VIDEOBUF2_CMA_SG=y
CONFIG_ZLIB_DEFLATE=y
