// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2023 Loongson Technology Corporation Limited
 */

/dts-v1/;

#include "loongson-2k0500.dtsi"

/ {
	compatible = "loongson,ls2k0500-ref", "loongson,ls2k0500";
	model = "Loongson-2K0500 Reference Board";

	aliases {
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@200000 {
		device_type = "memory";
		reg = <0x0 0x00200000 0x0 0x0ee00000>,
		      <0x0 0x90000000 0x0 0x60000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x2000000>;
			linux,cma-default;
		};
	};
};

&gmac0 {
	status = "okay";

	phy-mode = "rgmii-id";
	bus_id = <0x0>;
};

&gmac1 {
	status = "okay";

	phy-mode = "rgmii-id";
	bus_id = <0x1>;
};

&i2c0 {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;
	eeprom@57 {
		compatible = "atmel,24c16";
		reg = <0x57>;
		pagesize = <16>;
	};
};

&ehci0 {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&sata {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&rtc0 {
	status = "okay";
};
