config DRM_SHMOBILE
	tristate "DRM Support for SH Mobile"
	depends on DRM && (ARM || SUPERH)
	select BACKLIGHT_CLASS_DEVICE
	select DRM_KMS_HELPER
	select DRM_KMS_CMA_HELPER
	select DRM_GEM_CMA_HELPER
	help
	  Choose this option if you have an SH Mobile chipset.
	  If M is selected the module will be called shmob-drm.

