# SPDX-License-Identifier: GPL-2.0-only
hugepage-mmap
hugepage-shm
map_hugetlb
map_populate
thuge-gen
compaction_test
mlock2-tests
mremap_dontunmap
on-fault-limit
transhuge-stress
userfaultfd
mlock-intersect-test
mlock-random-test
virtual_address_range
gup_benchmark
va_128TBswitch
map_fixed_noreplace
write_to_hugetlbfs
