name: kernel
version: KERNELRELEASE
summary: GNU/Linux kernel
description: The upstream GNU/Linux kernel
grade: stable
confinement: strict
type: kernel

parts:
  kernel:
    plugin: kernel
    source: SRCTREE
    source-type: local
    kernel-with-firmware: false
