name: kernel
version: KERNELRELEASE
summary: Linux kernel
description: The upstream Linux kernel
grade: stable
confinement: strict
type: kernel

parts:
  kernel:
    plugin: kernel
    source: SRCTREE
    source-type: tar
    kernel-with-firmware: false
