# SPDX-License-Identifier: GPL-2.0
if MACH_LOONGSON64

config RS780_HPET
	bool "RS780/SBX00 HPET Timer"
	depends on MACH_LOONGSON64
	depends on BROKEN
	select MIPS_EXTERNAL_TIMER
	help
	  This option enables the hpet timer of AMD RS780/SBX00.

	  Note: This driver is doing some dangerous hack. Please only enable
	  it on RS780E systems.

endif # MACH_LOONGSON64
