config MACH_RK29SDK
	depends on ARCH_RK29
	default y
	bool "ROCKCHIP Board Rk29 For Sdk"
        select PL330	
        help
	  Support for the ROCKCHIP Board For Rk29 Sdk.

config WIFI_CONTROL_FUNC
        bool "Enable WiFi control function abstraction"
        help
          Enables Power/Reset/Carddetect function abstraction

menu "RK29 VPU (Video Processing Unit) support"

config RK29_VPU
	tristate "Support for RK29 VPU (Video Processing Unit)"
	depends on ARCH_RK29
	default y

config RK29_VPU_DEBUG
	bool "RK29 VPU debugging"
        depends on RK29_VPU != n
	default n
        help
          This is an option for the developers; most people should
          say N here.  This enables RK29 VPU driver debugging.

config RK29_VPU_HW_PERFORMANCE
	bool "RK29 VPU HW_PERFORMANCE ioctl support"
        depends on RK29_VPU != n
	default n
        help
          This is an option for the developers; most people should
          say N here.  This enables RK29 VPU driver HW_PERFORMANCE ioctl.

endmenu
