config IUCV
	tristate "IUCV support (VM only)"
	depends on S390
	help
	  Select this option if you want to use inter-user communication under
	  VM or VIF sockets. If you run on z/VM, say "Y" to enable a fast
	  communication link between VM guests.

config AFIUCV
	tristate "AF_IUCV support (VM only)"
	depends on IUCV
	help
	  Select this option if you want to use inter-user communication under
	  VM or VIF sockets. If you run on z/VM, say "Y" to enable a fast
	  communication link between VM guests.
