{# SPDX-License-Identifier: GPL-2.0 #}

{% if annotate %}
/* pointer {{ name }} */
{% endif %}
{% if name in public_apis %}
bool
{% else %}
static bool __maybe_unused
{% endif %}
xdrgen_decode_{{ name }}(struct xdr_stream *xdr, struct {{ name }} *ptr)
{
	bool opted;

{% if annotate %}
	/* opted */
{% endif %}
	if (!xdrgen_decode_bool(xdr, &opted))
		return false;
	if (!opted)
		return true;

