source "$BACKPORT_DIR/drivers/realtek/8192cu/Kconfig"

config RTL8188EU
        tristate "Realtek 8188E USB WiFi"
        depends on USB
        ---help---
          Help message of RTL8188EU



config RTL8192DU
        tristate "Realtek 8192DU USB WiFi"
        depends on USB
        ---help---
          Help message of RTL8192DU
