config  HDMI_RK30
        bool "RK30 HDMI support"
        depends on LCDC_RK30
        help
           Support rk30 hdmi if you say y here

if HDMI_RK30
source "drivers/video/rockchip/hdmi/chips/rk30/Kconfig"
endif

config  HDMI_RK2928
        bool "RK2928 HDMI support"
        depends on LCDC_RK2928
        help
           Support rk2928 hdmi if you say y here

if HDMI_RK2928
source "drivers/video/rockchip/hdmi/chips/rk2928/Kconfig"
endif

config  HDMI_CAT66121
        bool "CAT66121 HDMI support"
        help
           Support cat66121 hdmi if you say y here

if HDMI_CAT66121
source "drivers/video/rockchip/hdmi/chips/cat66121/Kconfig"
endif

config  HDMI_RK610
        bool "RK610 HDMI support"
        depends on MFD_RK610
        help
           Support rk610 hdmi if you say y here

if HDMI_RK610
source "drivers/video/rockchip/hdmi/chips/rk610/Kconfig"
endif

config  HDMI_RK616
        bool "RK616 HDMI support"
#depends on MFD_RK616 || ARCH_RK3026
		default y
        help
           Support rk616 hdmi if you say y here

if HDMI_RK616
source "drivers/video/rockchip/hdmi/chips/rk616/Kconfig"
endif

choice
	prompt "HDMI Source LCDC select"
config HDMI_SOURCE_LCDC0
	bool "lcdc0"
config HDMI_SOURCE_LCDC1
	bool "lcdc1"
endchoice
