config DREAM
	tristate "HTC Dream support"
	depends on MACH_TROUT

if DREAM

source "drivers/staging/dream/camera/Kconfig"

config INPUT_GPIO
	tristate "GPIO driver support"
	help
	  Say Y here if you want to support gpio based keys, wheels etc...
endif
