{# SPDX-License-Identifier: GPL-2.0 #}

/**
 * {{ program }}_svc_decode_{{ argument }} - Decode a {{ argument }} argument
 * @rqstp: RPC transaction context
 * @xdr: source XDR data stream
 *
 * Return values:
 *   %true: procedure arguments decoded successfully
 *   %false: decode failed
 */
bool {{ program }}_svc_decode_{{ argument }}(struct svc_rqst *rqstp, struct xdr_stream *xdr)
{
{% if argument == 'void' %}
	return xdrgen_decode_void(xdr);
{% else %}
	struct {{ argument }} *argp = rqstp->rq_argp;

	return xdrgen_decode_{{ argument }}(xdr, argp);
{% endif %}
}
