if TOUCHSCREEN_GT9XX

config GT911
	bool "GT911 Support"
	default n

	---help---
		Say Y here if you have a touchscreen interface using the
		two goodix gt911, and your board-specific initialization
		code includes that in its table of IIC devices.
		If unsure, say N.

endif
