# SPDX-License-Identifier: GPL-2.0
menu "SoC Audio for Loongson CPUs"

config SND_SOC_LOONGSON_CARD
	tristate "Loongson Sound Card Driver"
	depends on LOONGARCH || COMPILE_TEST
	select SND_SOC_LOONGSON_I2S_PCI if PCI
	select SND_SOC_LOONGSON_I2S_PLATFORM if OF
	help
	  Say Y or M if you want to add support for SoC audio using
	  loongson I2S controller.

	  The driver add support for ALSA SoC Audio support using
	  loongson I2S controller.

config SND_SOC_LOONGSON_I2S_PCI
	tristate "Loongson I2S-PCI Device Driver"
	depends on LOONGARCH || COMPILE_TEST
	depends on PCI
	select REGMAP_MMIO
	help
	  Say Y or M if you want to add support for I2S driver for
	  Loongson I2S controller.

	  The controller is found in loongson bridge chips or SoCs,
	  and work as a PCI device.

config SND_SOC_LOONGSON_I2S_PLATFORM
	tristate "Loongson I2S-PLAT Device Driver"
	depends on LOONGARCH || COMPILE_TEST
	select REGMAP_MMIO
	select SND_SOC_GENERIC_DMAENGINE_PCM
	help
	  Say Y or M if you want to add support for I2S driver for
	  Loongson I2S controller.

	  The controller work as a platform device, we can found it in
	  Loongson-2K1000 SoCs.
endmenu

config SND_LOONGSON1_AC97
	tristate "Loongson1 AC97 Support"
	depends on LOONGSON1_APB_DMA
	select SND_SOC_AC97_CODEC
	select SND_SOC_GENERIC_DMAENGINE_PCM
	select REGMAP_MMIO
	help
	  Say Y or M if you want to add support for codecs attached to
	  the Loongson1 AC97 controller.
