# SPDX-License-Identifier: GPL-2.0
config DIBS
	tristate "DIBS support"
	default n
	help
	  Direct Internal Buffer Sharing (DIBS)
	  A communication method that uses common physical (internal) memory
	  for synchronous direct access into a remote buffer.

	  Select this option to provide the abstraction layer between
	  dibs devices and dibs clients like the SMC protocol.
	  The module name is dibs.
