config BE2NET
	tristate "ServerEngines' 10Gbps NIC - BladeEngine"
	depends on PCI
	---help---
	  This driver implements the NIC functionality for ServerEngines'
	  10Gbps network adapter - BladeEngine.

config BE2NET_HWMON
	bool "HWMON support for be2net driver"
	depends on BE2NET && HWMON
	depends on !(BE2NET=y && HWMON=m)
	default y
	---help---
	  Say Y here if you want to expose thermal sensor data on
	  be2net network adapter.
