config VIDEO_DM365_VPFE
	tristate "DM365 VPFE Media Controller Capture Driver"
	depends on VIDEO_V4L2 && ARCH_DAVINCI_DM365 && !VIDEO_DM365_ISIF
	depends on HAS_DMA
	depends on VIDEO_V4L2_SUBDEV_API
	depends on VIDEO_DAVINCI_VPBE_DISPLAY
	select VIDEOBUF2_DMA_CONTIG
	help
	  Support for DM365 VPFE based Media Controller Capture driver.

	  To compile this driver as a module, choose M here: the
	  module will be called vpfe-mc-capture.
