menu "Allwinner's sunxi options"

config SW_DEBUG_UART
	int "UART to use for low-level debug"
	depends on DEBUG_LL
	default 0
	help
	  Choose the UART on which kernel low-level debug messages should be
	  output.

config SUNXI_MALI_RESERVED_MEM
	bool
	depends on MALI
	default y

config MACH_SUN4I
	bool
	depends on ARCH_SUN4I
	default y

config MACH_SUN5I
	bool
	depends on ARCH_SUN5I
	default y

endmenu
