# SPDX-License-Identifier: GPL-2.0
#
# CIR class/drivers configuration
#


menu "CIR support"
 config RK_CIR
	tristate "CIR support"
	help
	  if you want use ir remote function , pls enable it
 
choice  
	depends on RK_CIR
	prompt "CIR module name"
config BU92747GUW_CIR
	bool "bu92747guw cir"
endchoice

endmenu

