{# SPDX-License-Identifier: GPL-2.0 #}

{% if annotate %}
/* typedef {{ name }} (variable-length array) */
{% endif %}
typedef struct {
	u32 count;
	{{ classifier }}{{ type }} *element;
} {{ name }};
