# SPDX-License-Identifier: GPL-2.0-only

comment "Cadence media platform drivers"

config VIDEO_CADENCE_CSI2RX
	tristate "Cadence MIPI-CSI2 RX Controller"
	depends on VIDEO_DEV
	select MEDIA_CONTROLLER
	select VIDEO_V4L2_SUBDEV_API
	select V4L2_FWNODE
	select GENERIC_PHY
	select GENERIC_PHY_MIPI_DPHY
	help
	  Support for the Cadence MIPI CSI2 Receiver controller.

	  To compile this driver as a module, choose M here: the module will be
	  called cdns-csi2rx.

config VIDEO_CADENCE_CSI2TX
	tristate "Cadence MIPI-CSI2 TX Controller"
	depends on VIDEO_DEV
	select MEDIA_CONTROLLER
	select VIDEO_V4L2_SUBDEV_API
	select V4L2_FWNODE
	help
	  Support for the Cadence MIPI CSI2 Transceiver controller.

	  To compile this driver as a module, choose M here: the module will be
	  called cdns-csi2tx.
