{# SPDX-License-Identifier: GPL-2.0 #}

{% if annotate %}
/* typedef {{ name }} */
{% endif %}
{% if name in public_apis %}
bool
{% else %}
static bool __maybe_unused
{% endif %}
xdrgen_decode_{{ name }}(struct xdr_stream *xdr, {{ classifier }}{{ name }} *ptr)
{
{% if annotate %}
	/* (fixed-length opaque) */
{% endif %}
	return xdr_stream_decode_opaque_fixed(xdr, ptr, {{ size }}) >= 0;
};
