# SPDX-License-Identifier: GPL-2.0-only

config PECI_ASPEED
	tristate "ASPEED PECI support"
	depends on ARCH_ASPEED || COMPILE_TEST
	depends on OF
	depends on HAS_IOMEM
	depends on COMMON_CLK
	help
	  This option enables PECI controller driver for ASPEED AST2400,
	  AST2500 and AST2600 SoCs. It allows BMC to discover devices
	  connected to it, and communicate with them using PECI protocol.

	  Say Y here if your system runs on ASPEED SoC and you are using it
	  as BMC for Intel platform.

	  This driver can also be built as a module. If so, the module will
	  be called peci-aspeed.
